<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/global.css" />
		<title>Cars Index</title>
	</head>
	<body>
		<h1>All Cars</h1>
		<a href="/cars/addCar">Add a New Car</a>
		<div>
			<% cars.forEach(car=> { %>
			<br />
			<li>
				<a href="/cars/<%= car._id %>"> <%= car.model %> </a>
			</li>
			<% }) %>
		</div>
	</body>
</html>
